<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Phaser 2</title>
</head>
<body>
  <script src="lib/phaser.js"></script>
  <script src="game.js"></script>
  <script src="snake.js"></script>
  <script src="playerSnake.js"></script>
  <script src="botSnake.js"></script>
  <script src="util.js"></script>
  <script>
    (function() {
        var game = new Phaser.Game(800, 500, Phaser.AUTO, null);

        game.state.add('Game', Game);
        game.state.start('Game');
    })();
  </script>
</body>
</html>